<app-navbar />
<div class="about-parent-container">
  <img src="../../assets/delivery-guy.gif" alt="" />
  <div class="right">
    <h1 class="head">ABOUT US</h1>
    Welcome cake lovers!<br />
    We create varities of cup-cakes to match up your moods and cravings. Cake
    Kart provide you with several delicious cup-cakes for various occasions. You
    can gift , present and add it to your parties and make our cupcakes your
    favorite companion.<br />
    Lift up your mood with Cake Kart! Go order now and get suprising deals and
    offers.

    <br />
    <button class="btn btn-danger" routerLink="/">Shop Now</button>
  </div>
</div>
